/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* html{
  font-family: 'Open Sans', sans-serif !important;
} */
body{
  background-image: url("../images/002.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul a,
nav .brand-logo {
  color: rgb(255, 255, 255);
}
nav{
  padding:20px;
}
p {
  line-height: 2rem;
}
.slider .indicators .indicator-item.active {
  background-color: rgb(212, 30, 30);
}
.slider .indicators .indicator-item {
  border-radius:0px;
  margin: 6px 12px;
}
.button-collapse {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.page-footer h5{
  font-weight: bold;
  margin-top:30px;
}
.collection .collection-item.avatar {
  padding-top: 20px;
  min-height: 130px;
  padding-left: 140px;
}
blockquote.profil{
  background: #c9cac8;
  border-left: none;
  font-weight: 700;
  padding: 15px;
}
img.logo{
  max-width: 200px;
  padding-top: 10px;
}
@media only screen and (max-width: 500px) {
  img.logo{
    max-width: 160px;
    padding-top: 15px;
    padding-left: 15px;
  }
}
.dropdown-content {
  min-width: 250px;
  margin-top:65px;
}
.dropdown-content li > a > i {
  margin: 0 5px 0 0;
}
.fixed-action-btn {
  position: absolute;
}
footer a{
  text-align: left;
  display:inline-block;
  padding:5px 0px;
  font-weight: 300;
}
footer a:hover{
  text-decoration: underline;
}
div.test a{
  display: inline-block;
  font-size:20px;
  margin-right:20px;
  transition:color 0.2s ease-in;
}
div.test a:hover{
  color:white;
}
footer div.row{
  padding:70px;
}
footer{
  padding:0px;
  margin:0px;
}
.section-grey {
  background-image: url("../images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  padding: 70px 70px;
  vertical-align: middle;
}
.section-grey .row{
  align-items: center;
  display: flex;
  box-align: center;
  -webkit-box-align: center;
}
.section-grey p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  margin-bottom: 15px;
}
.btn-jolie{
  background: linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
  font-family: 'Roboto', sans-serif;
  transition: all 0.4s;
  -webkit-transition: all 0.4s ease-in-out;
  text-transform: none;
  font-weight: 500;
  border-radius: 6px 6px;
  margin: 10px 0;
  box-shadow: none;
}

.btn-jolie:hover{
  background: linear-gradient(135deg, #985BEF 0%, #6B02FF 100%);
}
.card-panel.transparent{
  border: none;
  box-shadow: transparent;
  background-image: url("../images/6d0fd3da.png");
}
nav .button-collapse{
  margin: 0px;
  vertical-align: middle;
}
nav ul li a{
  position: relative;
  text-align: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-shadow: 0px 1px 3px #212121;
}

nav ul li a.h{
  color:white;
}

nav ul li a:hover,nav ul li.active a {
  color: #121318;
}
div.haut{
  padding: 30px 0px 30px 50px;
}
div.haut h5{
  font-weight: 400;
  letter-spacing: 10px;
}
div.haut h4{
  font-weight: bold;
}
div.haut div{
  width:500px;
}
.button-collapse {
  color: white;
}

@media only screen and (max-width: 600px) {
  div.haut{
    padding: 20px;
  }
  div.haut h5{
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 10px;
  }
  div.haut h4{
    font-size: 23px;
  }
  div.haut div{
    width:auto;
  }
  footer div.row {
    padding: 40px !important;
  }
}
@media only screen and (max-width: 400px) {
  div.haut{
    padding: 10px 10px;
  }
  div.haut h5{
    font-size: 20px !important;
  }
  div.haut h4{
    font-size: 20px !important;
  }
  footer div.row {
    padding: 20px !important;
  }
}

@media only screen and (max-width: 300px) {
  div.haut h5{
    font-size: 18px !important;
  }
  div.haut h4{
    font-size: 18px !important;
  }
  footer div.row {
    padding: 0px !important;
  }
}
.newsletter {
  padding: 4em 0;
  background: rgba(34, 34, 33, 0.9);
}
.newsletter .container{
  opacity:1;
}
.videos {
  padding: 4em 0;
  background: rgba(125, 138, 175, 0.95);
}
.videos .container{
  opacity:1;
}
::placeholder {
  color: #363434;
}
::-moz-placeholder {
  color: #363434;
}
.newsletter p {
  font-size: 2em;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
}

@media only screen and (max-width: 900px) {
  .newsletter p{
    font-size: 20px;
    font-weight:700;
  }
}
@media only screen and (max-width: 600px) {
  .newsletter p{
    font-size: 20px;
    font-weight:500;
    letter-spacing: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .newsletter p{
    font-size: 17px;
  }
}
@media only screen and (max-width: 400px) {
  .newsletter p{
    font-size: 15px;
    letter-spacing: 3px;
  }
}
.newsletter .input-news{
  border:none !important;
  text-align:center;
  background-color: rgb(234, 236, 238) !important;
  font-weight: 700;
  letter-spacing: 5px;
}
.newsletter .input-news:focus{
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}
.btn-news{
  display:inline-block;
  padding:15px 70px;
  margin:0px 5px;
  color: white;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: #942222;
  -webkit-transition: background-color 350ms;
  transition: background-color 350ms;
  font-weight: 900;
}
.btn-news:hover{
  background-color: #c00;
}
.row.team{
  padding:200px 20px 200px 20px;
  background-image:url("images/face copie.png");
  background-attachment: fixed;
  background-color: #212121;
  background-size: contain;
}